@font-face {
    font-family: 'ExpressSansReg';
    src: url('../arquivos/ES_Reg.woff.css') format('woff');
}
@font-face {
    font-family: 'ExpressSansUltraCond';
    src: url('../arquivos/ExpressSans-UltraCond.woff.css') format('woff');
}
@font-face {
    font-family: 'ExpressRegular';
    src: url('../arquivos/ES_Reg.woff.css') format('woff');
}
@font-face {
    font-family: 'ExpressCond';
    src: url('../arquivos/ExpressSans-RegCond.woff.css') format('woff');
}
@font-face {
    font-family: 'ExpressBold';
    src: url('../arquivos/ES_Bold.woff.css') format('woff');
}
@font-face {
    font-family: 'ExpressLight';
    src: url('../arquivos/ES_Light.woff.css') format('woff');
}
@font-face {
    font-family: 'ExpressMed';
    src: url('../arquivos/ES_Med.woff.css') format('woff');
}
.menu-inferior {
    border-bottom: none;
}

.page-header {
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.row.content {
    display: none;
}
h1 {
    font-size: 20.65px;
    font-family: arial, helvetica, sans-serif;
    line-height: 22.715px;
    font-weight: 400;
    letter-spacing: 3.0975px;
}
div#container {
    /*padding-left: 50px;
    padding-right: 50px;*/
    margin-top: 50px;
}
.Departamentos {
    display: flex;
    align-content: flex-start;
    justify-content: center;
}
ul.link-list {
    display: contents;
    direction: rtl;
    list-style: none;
}
h2 {
    color: rgb(51,51,51);
    direction: ltr;
    /*font-family: "ExpressRegular", Arial;*/
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    /*letter-spacing: 0.4px;*/
}
h3 {
    font-size: 50px;
    margin: 0;
}
li {
    color: rgb(51,51,51);
    direction: ltr;
    display: block;
    float: left;
    font-family: "ExpressRegular", Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    list-style-position: outside;
    margin-left: 22px;
    text-align: center;
}
ul.link-list {
    margin: 0 0 17px -22px;
    padding: 0;
    overflow: hidden;
}
a.cta.final {
    background-attachment: scroll;
    background-color: black;
    background-image: none;
    border-color: rgb(255,255,255);
    border-radius: 5.6px;
    color: rgb(255,255,255);
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "ExpressBold", Arial;
    font-size: 14px;
    font-weight: 400;
    height: 38px;
    line-height: 18.2px;
    padding-bottom: 14px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    text-align: center;
    text-decoration-color: rgb(255,255,255);
    text-decoration-style: solid;
    text-transform: uppercase;
}
/******* INICIO MOBILE *******/
@media(max-width: 1000px){
  div#container {
    padding-left: 4%;
    padding-right: 4%;
}
  ul.link-list {
    display: grid;
}
  li {
    margin-bottom: 20px;
}
}
/******* FIN MOBILE *******/