#banners-principal > img {
    width: 100%;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 10px;
    background: none;
    border: none;
    font-size: 0;
}

.slick-next {
    left: auto;
    right: 10px;
}

.slick-arrow:before {
    content: "<";
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.slick-next:before {
    content: ">";
}

.scroll {
    height: 600px;
    width: 100%;
}